@model PizzaPriceListViewModel
@{
    ViewData["Title"] = "Menu";
}

<h2>Index</h2>
<div class="btn">@Html.ActionLink("View Available Pizzas", "PizzaList")</div>
<div class="btn">@Html.ActionLink("View Available Sizes", "SizeList")</div>
<div class="btn">@Html.ActionLink("Add New Pizza Price", "AddPizzaPrice")</div>
<div class="body-content">
    <table class="table">
        <thead>
            <tr>
                <th>Pizza</th>
                <th>Size</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PizzaPrices)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Pizzas.FirstOrDefault(x => x.Id == item.PizzaId).Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Sizes.FirstOrDefault(x => x.Id == item.SizeId).Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit Price", "EditPizzaPrice", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
