@model SEDC.App.Models.ViewModels.OrdersViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orders</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>This is the orders page!</p>
    <h3>Our first Pizza ever to be delivered was:</h3>
    <p>@Model.FirstPizza</p>
    <h3>Our first customer is:</h3>
    <p>@Model.FirstPersonName</p>
    <h3>Total orders since we started delivering:</h3>
    <p>@Model.NumberOfOrders</p>
    <h3>All orders:</h3>
    <ul>
        <li>@Model.Orders[0].User.FirstName - @Model.Orders[0].Pizza.Name (@Model.Orders[0].Price$) </li>
        <li>@Model.Orders[1].User.FirstName - @Model.Orders[1].Pizza.Name (@Model.Orders[1].Price$) </li>
        <li>@Model.Orders[2].User.FirstName - @Model.Orders[2].Pizza.Name (@Model.Orders[2].Price$) </li>
    </ul>
</body>
</html>
