@model PizzApp.Models.Pizza

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h2>Details About Pizza:</h2>

<h3>ID: @Model.Id</h3>
<h3>Name: @Model.Name</h3>


<table class="table table-striped">
    <thead>
        <tr>
            <td>Size</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var pizzaPrice in Model.PizzaPrices)
        {
            <tr>
                <td>@pizzaPrice.Size</td>
                <td>@pizzaPrice.Price</td>
            </tr>
        }
    </tbody>
</table>
<form action="/pizza/addprice" method="post">
    <input type="hidden" name="PizzaId" value="@Model.Id" />
    <input type="number" name="Size" placeholder="Size" />
    <input type="number" name="Price" placeholder="Price" />
    <input type="submit" value="Add Pizza Price" />
</form>
