@model List<PizzApp.Models.Pizza>

@{
    Layout = "_Layout";
}

<a class="btn btn-info" asp-controller="Pizza" asp-action="Create">Create Pizza</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PizzApp.Models.Pizza pizza in Model)
        {
            <tr>
                <td>@pizza.Id</td>
                <td>@pizza.Name</td>
                <td>
                    <a asp-controller="Pizza"
                       asp-action="Details"
                       asp-route-id="@pizza.Id"
                       class="btn btn-info">Details</a>
                    <a asp-controller="Pizza"
                       asp-action="Edit"
                       asp-route-id="@pizza.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Pizza"
                       asp-action="Delete"
                       asp-route-id="@pizza.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<ul>
        @foreach (var pizza in ViewBag.Pizzas)
        {
            <li>@pizza</li>
        }@foreach (var pizza in (IEnumerable<string>)ViewData["pizzas"])
        {
            <li>@pizza</li>
        }
        @foreach (var pizza in Model)
        {
            <li>@pizza</li>
        }
    </ul>*@

@*@{
        var pizzas = new List<string>
    {
    "capri", "tuna","margarita","pepperoni"
    };
    }*@

@*@functions {
        public List<string>
    GetAllPizzas()
    {
    return new List<string>
        {
        "capri", "tuna","margarita","pepperoni"
        };
        }
        }*@
