@model Order
<h3>Order no. @Model.Id</h3>
<p>Name: @Model.User.FirstName @Model.User.LastName</p>
<p>Pizza: @Model.Pizza.Name - @Model.Pizza.Size</p>
<p>Price: @Model.Price</p>
<img src="https://www.cicis.com/wp-content/uploads/2019/04/pizza_categoryheader.png" alt="Pizza" height="50"/>
