@model List<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAll</title>
</head>
<body>
    @*@{
            var listOfPizzas = new List<string>
            {
                "capri", "tono","margarita", "napolitana"
            };
        }*@

    <h1>Hi @ViewBag.Username, please choose a pizza:</h1>
    <h3>There are @Model.Count pizzas in total:</h3>
    <ul>
        @{
            foreach (var item in Model)
            {
                <li>@item</li>
            }
        }
        @*@{
            foreach (var item in ViewBag.pizzas)
            {
                <li>@item</li>
            }
        }
        @{
            foreach (var item in (IEnumerable<string>)ViewData["pizzas"])
            {
                <li>@item</li>
            }
        }*@
    </ul>
</body>
</html>
